title: rologs.com
description: Logs from rologs.com
theme: minima

sass:
  style: compressed

plugins:
  - jekyll-feed

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "page"



