title: rologs.com
description: Logs from rologs.com
theme: minima
lang: en

sass:
  style: compressed

plugins:
  - jekyll-feed
  - jekyll-seo-tag

header_pages:
  - archive.md
  - anki-flashcard.md

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
