title: rologs.com
description: Logs from rologs.com
theme: minima
lang: en

sass:
  style: compressed

plugins:
  - jekyll-feed

header_pages:
  - archive.md

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "page"


