body {
  background-color: #000 !important;
  color: #fff !important;
}

a {
  color: #1e90ff;
}

.site-header,
.site-footer {
  background-color: #111 !important;
  color: #fff !important;
}

.post-content, .post-title, h1, h2, h3, h4, h5, h6 {
  color: #fff !important;
}
